<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://sql10.freemysqlhosting.net:3306/sql10309561?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">sql10309561</property>
    <property name="hibernate.connection.password">v8gG8vYc7T</property>

    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
    <mapping class="project.certificados.entities.Admin"/>
    <mapping class="project.certificados.entities.Area"/>
    <mapping class="project.certificados.entities.Asignatura"/>
    <mapping class="project.certificados.entities.Calificacion"/>
    <mapping class="project.certificados.entities.Estudiante"/>
    <mapping class="project.certificados.entities.Funcionario"/>
    <mapping class="project.certificados.entities.Informe"/>
    <mapping class="project.certificados.entities.Rol"/>
    <mapping class="project.certificados.entities.TipoDeIdentificacion"/>
  </session-factory>
    
</hibernate-configuration>
