<div ng-show="authenticated">
    <p><b>Listado de estacionamientos</b></p>
    <div ng-show="busy" class="loader"></div>
    <br>
    <table class="table table-striped table-hover" ng-model="parkListFiltered" ng-change="parkListFiltered">
        <tbody>
        <tr>
            <th>Identificador Dueño</th>
            <th>Cubierto</th>
            <th>Casa</th>
            <th>Altura</th>
            <th>Ancho</th>
            <th>Largo</th>
            <th>Disponible</th>
            <th>Disponible Hasta</th>
            <th>Costo (Minuto)</th>
            <th>Dirección</th>
            <th>Estrato</th>
        </tr>
        <tr ng-repeat="todo in parkListFiltered | filter:{available:true}">
            <td>{{todo.owner_id}}</td>
            <td><input type="checkbox" ng-model="todo.covert" disabled/></td>
            <td><input type="checkbox" ng-model="todo.home" disabled/></td>
            <td>{{todo.height}}</td>
            <td>{{todo.width}}</td>
            <td>{{todo.length}}</td>
            <td><input type="checkbox" ng-model="todo.available" disabled/></td>
            <td>{{todo.availableFinish}}</td>
            <td>{{todo.costMinute}}</td>
            <td>{{todo.address}}</td>
            <td>{{todo.stratum}}</td>
        </tr>
        </tbody>
    </table>
    <label><b>Filtros: </b></label>
    <center ng-hide="busy">
        <br>
        <label for="covered">Cubierto</label><input id="covered" type="checkbox" ng-model="onlyCovered"/>
        <br>
        <label for="homed">En Casa Propia</label><input id="homed" type="checkbox" ng-model="onlyHome"/>
        <br>
        <button ng-click="filter()">Filtrar</button>
        <br>
    </center>
</div>